# .NET Core ignore rules
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache and settings
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Database and docker files
**/db/tickets.db
**/db/tickets.db-journal
**/db/tickets.db-shm
**/db/tickets.db-wal
.env
/reports
/TicketingSystem.LoadTests/reports
TicketingSystem/Properties/launchSettings.json
